{{#each trainerRows}}
<h2><a href="/trainers/{{this.id}}">{{this.name}}<br></a>
</h2>
{{/each}}
<form class="" action="trainers/new" method="get">
  <input type="submit" name="" value="Create New Trainer">
</form>
