
<h1>{{trainerName.name}}</h1>
{{#each trainersName}}
<h3>{{this.pokemon_name}}</h3>
{{/each}}

<form class="" action="{{id}}/delete" method="post">
  <input type="submit" value="Delete Trainer!!!">
</form>
